<p id="notice"><%= notice %></p>

<h1>Account</h1>

<style>
    body {
  background-color: rgb(35,35,35);
    }
</style>

<div class="container">  
    <br/>
        <div class="table-responsive">        
  <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.password %></td>
        <td><%= link_to '', account, class: "fas fa-eye" %></td>
        <td><%= link_to '', edit_movie_path(account), class: "fas fa-edit" %> </td>
        <td><%= link_to '', account, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
    </div>  


