<p id="notice"><%= notice %></p>
<h1>Account</h1>

<div class="container">  
    
<% if current_login.avatar.attached? %>
               <%= image_tag current_login.avatar, alt: current_login.email, class:'d-block mx-auto', size: '250x250' %>
        <% else %>
              <%= image_tag 'defaultprofile.png', alt: 'No image attributed with user' , class:'d-block mx-auto', size: '250x250' %>
<% end %>
    
    <div class="header">
        <h2><%= current_login.email %></h2>
        <div><%= link_to "Edit Profile", edit_login_registration_path%></div>

    </div>
 
    <div>Email: <span class="info"><%= current_login.email %></span></div>
    <div>Followers: <span class="info">0
    </span></div>
    <div>Following: <span class="info">0
    </span></div>
    <hr/>

    
 
</div>
  <h3>All your posts:</h3>
  <table class="table table-dark table-hover">
  <thead>
        <tr>
          <th class="tableHeader">Movie</th>
          <th class="tableHeader">Email</th>
          <th class="tableHeader">Reaction</th>
          <th class="tableHeader">Comment</th>
          <th  class="tableHeader" colspan="3"></th>
        </tr>
      </thead>

  <tbody>
        <% @users.each do |user| %>
             <% if user.get_name == current_login.email %>
              <tr>
                <td><%= Movie.where(id: user.movie_id)[0].movie  %></td>
                <td><%= user.get_name %></td>
                <td><%= user.reaction %></td>
                <td><%= user.comment %></td>
                <!--
                <td><%= link_to '', user, class: "fas fa-eye" %></td>
                <td><%= link_to '', edit_user_path(user), class: "fas fa-edit" %> </td>
                <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
                   -->
              <% end %>
               
          </tr>
        <% end %>
      </tbody>
</table>
</div>
    </div>  


