<p id="notice"><%= notice %></p>
<h1>Account</h1>

<div class="container">  
    
<% if current_login.avatar.attached? %>
               <%= image_tag current_login.avatar, alt: current_login.email, class:'d-block mx-auto', size: '250x250' %>
        <% else %>
              <%= image_tag 'defaultprofile.png', alt: 'No image attributed with user' , class:'d-block mx-auto', size: '250x250' %>
<% end %>
    
    <div class="header" >
        <h2><%= current_login.email %></h2>
        <div><%= link_to "Edit Profile", edit_login_registration_path%></div>

    </div>

    
 
</div>
  <h3>All your posts:</h3>
  <table class="table table-dark table-hover">
  <thead role = "tableHeading">
        <tr>
          <th class="tableHeader" role = "tableHead">Movie</th>
          <th class="tableHeader" role = "tableHead">Email</th>
          <th class="tableHeader" role = "tableHead">Reaction</th>
          <th class="tableHeader" role = "tableHead">Comment</th>
          <th  class="tableHeader" colspan="3"></th>
        </tr>
      </thead>

  <tbody role = "tableBody">
        <% @users.each do |user| %>
             <% if user.get_name == current_login.email %>
              <tr>
                <td role = "tableCell"><%= Movie.where(id: user.movie_id)[0].movie  %></td>
                <td role = "tableCell"><%= user.get_name %></td>
                <td role = "tableCell"><%= user.reaction %></td>
                <td role = "tableCell"><%= user.no_comment %></td>
              <% end %>
               
          </tr>
        <% end %>
      </tbody>
</table>
</div>
    </div>  


