<p id="notice"><%= notice %></p>

<h1>Account</h1>

<style>
    body {
  background-color: rgb(35,35,35);
    }
    .info {
        color:grey;
    }
    img{
        max-width: 40%;
        height:auto;
    }
    .header{
        text-align:center;
    }
</style>

<div class="container">  
    <br/>
    <div class="header">
        <img src="https://lh3.googleusercontent.com/proxy/H6xtFGGtj6o6VvrMzuTC4Stpk4dyOiqn8N3eMi0dzpQQZRJDA0jBCemf1Xa7uJ4xZJeNgeAfeeqViMoRC9U-fH3WbJHbl4-lpZxMtYd4zLQAD_k">
        <h2>Name</h2>
        <div>Edit Account</div>
    </div>
    <div>Username: <span class="info">user</span></div>
    <div>Password: <span class="info">password</span></div>
    <div>Follower: <span class="info">#</span></div>
    <div>Following: <span class="info">#</span></div>
    <br/>
  <div class="table-responsive">        
  <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th>Username</th>
      <th>Password</th>
     <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @accounts.each do |account| %>
      <tr>
        <td><%= account.name %></td>
        <td><%= account.password %></td>
        <td><%= link_to '', account, class: "fas fa-eye" %></td>
        <td><%= link_to '', edit_account_path(account), class: "fas fa-edit" %> </td>
        <td><%= link_to '', account, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
    </div>  


