<p id="notice"><%= notice %></p>
<% name = current_login.present? ? current_login.email : 'none' %>

<h1>Opinions on Shrek</h1>


<div class="header">
     
     </div>

<img src="https://upload.wikimedia.org/wikipedia/en/3/39/Shrek.jpg" class="rounded mx-auto d-block" title="Shrek" alt="TESTING">

<div class="table-responsive">        
  <table class="table table-dark table-hover">
      <thead>
        <tr>
          <th>Username</th>
          <th>Reaction</th>
          <th>Comment</th>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
        <% @users.each do |user| %>
          <% if user.movie_id.to_s == params[:title] %>
              <tr>
                <td><%= user.get_name %></td>
                <td><%= user.reaction %></td>
                <td><%= user.comment %></td>
                <td><%= link_to '', user, class: "fas fa-eye" %></td>
                <% if user.get_name == name %>
                    <td><%= link_to '', edit_user_path(user), class: "fas fa-edit" %> </td>
                    <td><%= link_to '', user, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
                <% end %>
               <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
</div>

<br>

<% if login_signed_in? %>
    <a href="users/new" class="btn btn-primary">New Opinion on Shrek</a>
<% end %>

<!-- <%= link_to 'New User', new_user_path %> -->
