<p id="notice"><%= notice %></p>

<style>
    body {
  background-color: rgb(35,35,35);
    }
</style>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
  <strong>Reaction:</strong>
  <%= @user.reaction %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user.comment %>
</p>

<div class="col-xs-12" style="height:30px;"></div>
<%= link_to 'Edit', edit_user_path(@user),class: "btn btn-secondary btn-sm" %> |
<%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm" %>
