<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.get_name %>
</p>

<p>
  <strong>Reaction:</strong>
  <%= @user.reaction %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @user.comment %>
</p>

<div class="col-xs-12" style="height:30px;"></div>
<% name = current_login.present? ? current_login.email : 'none' %>
<% if @user.get_name == name %>
    <%= link_to 'Edit', edit_user_path(@user),class: "btn btn-secondary btn-sm" %> |
<% end %>

<%= link_to 'Back', users_path, class: "btn btn-secondary btn-sm" %>
