
<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <label for="movie">Movie Name:</label>
    <ul>
       <li>Only allows capital/lowercase letters, numbers, spaces, commas, colons, and dashes.</li>
    </ul>
    <%= form.text_field :movie, class: "form-control" %>
  </div>

  <div class="form-group">
    <label for="genre">Genre:</label>
    <ul>
       <li>Only allows capital/lowercase letters, spaces, and commas.</li>
    </ul>
    <%= form.text_field :genre, class: "form-control" %>
  </div>

 
  <div class="form-group">
    <label for="age_rating">Age_Rating:</label>
      <div class="col">
    <%= form.select :age_rating, ['G', 'PG','PG-13','R','NC-17']%> 
      </div>
  </div>

  <div class="form-group">
    <label for="release_date">Release_Date:</label>
    <%= form.date_field :release_date, class: "date picker", placeholder: "MM/DD/YYYY"  %>
  </div>
    
    

<div class="col-xs-12" style="height:20px;"></div>
  <div class="actions">
    <%= form.submit :Submit, class: 'btn btn-success' %>
  </div>

<% end %>
