<%= form_with(model: movie, local: true) do |form| %>
  <% if movie.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(movie.errors.count, "error") %> prohibited this movie from being saved:</h2>

      <ul>
        <% movie.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :movie %>
    <%= form.text_field :movie %>
  </div>

  <div class="field">
    <%= form.label :likes %>
    <%= form.text_field :likes %>
  </div>

  <div class="field">
    <%= form.label :dislikes %>
    <%= form.text_field :dislikes %>
  </div>

  <div class="field">
    <%= form.label :comments %>
    <%= form.text_field :comments %>
  </div>

  <div class="field">
    <%= form.label :genre %>
    <%= form.text_field :genre %>
  </div>

  <div class="field">
    <%= form.label :age_rating %>
    <%= form.text_field :age_rating %>
  </div>

  <div class="field">
    <%= form.label :release_date %>
    <%= form.text_field :release_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
