<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<br/>
<div class="header"></div>
   <%= form_tag(search_path, :method => "get") do %>
        <div class="input-group my-2 my-lg-0">
            <%= search_field_tag :search, params[:search], placeholder: "Search for movies", class: "form-control my-lg-0"%>
            <div class="input-group-btn-outline-success my-2 my-sm-0">
                <%= button_tag "Search", :class => 'btn btn-success', :name => nil%>
            </div>
        </div>
        <% end %>
<br/>
<div class="table-responsive">        
  <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th class="tableHeader">Poster</th>
      <th class="tableHeader"><%= link_to "Movie", :sort => "movie"%> </th>
      <th class="tableHeader"><%= link_to "Likes", :sort => "likes"%> </th>
      <th class="tableHeader"><%= link_to "Dislikes", :sort => "dislikes"%> </th>
      <th class="tableHeader"><%= link_to "Comments", :sort => "comments"%> </th>
      <th class="tableHeader"><%= link_to "Genre", :sort => "genre"%> </th>
      <th class="tableHeader"><%= link_to "Age Rating", :sort => "age_rating"%> </th>
      <th class="tableHeader"><%= link_to "Release Date", :sort => "release_date"%> </th>
      <th class="tableHeader" colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <% if movie.image.attached? %>
            <td id = "image" onmouseover="imageEnlarge(this)" onmouseout="imageReset(this)">
               <%= image_tag (url_for(movie.image)), size: '100x100', alt: movie.movie, onmouseover: "imageEnlarge(this)", onmouseout: "imageReset(this)" %>
            </td>
        <% else %>
          <td id = "image" onmouseover="imageEnlarge(this)" onmouseout="imageReset(this)">
              <%= image_tag movie.get_photo, alt: movie.movie , class: 'd-block', size: '100x100', onmouseover: "imageEnlarge(this)", onmouseout: "imageReset(this)"%>
          </td>
        <% end %>
        <td><%= link_to movie.movie, users_path(title: movie.id), :id => movie.id %></td>
        <td><%= movie.like_count %></td>
        <td><%= movie.dislike_count %></td>
        <td><%= movie.comment_count %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.age_rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to '', movie, class: "fas fa-eye" %></td>
        <td><%= link_to '', edit_movie_path(movie), class: "fas fa-edit"%> </td>
        <td><%= link_to '', movie, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @movies %>
<br>
<a href="movies/new" class="btn btn-success">Add Movie</a>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

function imageEnlarge(x) {
 x.style.width = "1000px"
 x.style.height = "1000px"
 }

function imageReset(x)   { 
 x.style.size = "0x0"
}

});
    
</script>

