<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<h2>Click on a movie title's hyperlink to go to its page!</h2>
<br/>
<div class="header"></div>



<div class="table-responsive">        
  <table class="table table-dark table-hover">
  <thead>
    <tr>
      <th><%= link_to "Movie", :sort => "movie"%> </th>
      <th><%= link_to "Likes", :sort => "likes"%> </th>
      <th><%= link_to "Dislikes", :sort => "dislikes"%> </th>
      <th><%= link_to "Comments", :sort => "comments"%> </th>
      <th><%= link_to "Genre", :sort => "genre"%> </th>
      <th><%= link_to "Age Rating", :sort => "age_rating"%> </th>
      <th><%= link_to "Release Date", :sort => "release_date"%> </th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @movies.each do |movie| %>
      <tr>
        <% if movie.image.attached? %>
            <td>
               <%= image_tag (url_for(movie.image)) %>
            </td>
        <% else %>
          <td>
              <%= image_tag 'noimage.png', alt: 'No image attributed with movie' , class: 'd-block mx-auto' %>
          </td>
        <% end %>
        <td><%= link_to movie.movie, users_path(title: movie.id), :id => movie.id %></td>
        <td><%= movie.like_count %></td>
        <td><%= movie.dislike_count %></td>
        <td><%= movie.comment_count %></td>
        <td><%= movie.genre %></td>
        <td><%= movie.age_rating %></td>
        <td><%= movie.release_date %></td>
        <td><%= link_to '', movie, class: "fas fa-eye" %></td>
        <td><%= link_to '', edit_movie_path(movie), class: "fas fa-edit" %> </td>
        <td><%= link_to '', movie, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<a href="movies/new" class="btn btn-primary">Add Movie</a>
