<p id="notice"><%= notice %></p>

<h1>Movies</h1>

<br/>
<div class="header">
    <head>
    <%= javascript_pack_tag 'image-enlarge' %>
    <script>
        var status="<%= notice %>";
        if(status == 'Signed out successfully.'){
            alert("You are signed out");
        }
        if(status == 'Signed in successfully.'){
            alert("Welcome to FlickShare \r\n"
                  +"Let us know what you think of your favorite movies!");
        }
    </script>
 </head>
    
</div>
   <%= form_tag(search_path, :method => "get") do %>
        <div class="input-group my-2 my-lg-0">
            <%= search_field_tag :search, params[:search], placeholder: "Search for movies", class: "form-control my-lg-0"%>
            <div class="input-group-btn-outline-success my-2 my-sm-0" role="button">
                <%= button_tag "Search", :class => 'btn btn-success', :name => nil%>
            </div>
        </div>
        <% end %>
<br/>
<div class="table-responsive">        
  <table class="table table-dark table-hover">
  <thead role = "tableHeading">
    <tr>
      <th class="tableHeader" role = "tableHead">Poster</th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Movie", :sort => "movie"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Likes", :sort => "likes"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Dislikes", :sort => "dislikes"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Comments", :sort => "comments"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Genre", :sort => "genre"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Age Rating", :sort => "age_rating"%> </th>
      <th class="tableHeader" role = "tableHead"><%= link_to "Release Date", :sort => "release_date"%> </th>
      <th class="tableHeader" colspan="3"></th>
    </tr>
  </thead>

  <tbody role = "tableBody">
    <% @movies.each do |movie| %>
      <tr>
        <% if movie.image.attached? %>
            <td id = "image" role = "tableCell">
               <%= image_tag (url_for(movie.image)), size: '100x100', alt: movie.movie, onmouseover: 'bigImg(this)', onmouseout:'normalImg(this)' %>
            </td>
        <% else %>
          <td id = "image" role = "tableCell">
              <%= image_tag movie.get_photo, alt: movie.movie , class: 'd-block', size: '100x100', onmouseover: 'bigImg(this)', onmouseout: 'normalImg(this)'%>
          </td>
        <% end %>
        <td role = "tableCell"><%= link_to movie.movie, users_path(title: movie.id), :id => movie.id %></td>
        <td role = "tableCell"><%= movie.like_count %></td>
        <td role = "tableCell"><%= movie.dislike_count %></td>
        <td role = "tableCell"><%= movie.comment_count %></td>
        <td role = "tableCell"><%= movie.genre %></td>
        <td role = "tableCell"><%= movie.age_rating %></td>
        <td role = "tableCell"><%= movie.release_date %></td>
        <td role = "button"><%= link_to '', movie, class: "fas fa-eye" %></td>
        <td role = "button"><%= link_to '', edit_movie_path(movie), class: "fas fa-edit"%> </td>
        <td role = "button"><%= link_to '', movie, method: :delete, data: { confirm: 'Are you sure?'}, class: "far fa-trash-alt" %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
<%= paginate @movies %>
<br>
<a href="movies/new" class="btn btn-success" role = "button">Add Movie</a>



