<p id="notice"><%= notice %></p>

<style>
    body {
  background-color: rgb(35,35,35);
    }
</style>

<p>
  <strong>Movie:</strong>
  <%= @movie.movie %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @movie.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @movie.dislikes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @movie.comments %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Age rating:</strong>
  <%= @movie.age_rating %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>
<button type="button" class="btn btn-info">Add Comment</button><br/><br/>
<button type="button" class="btn btn-success">Like</button>
<button type="button" class="btn btn-danger">Dislike</button>
<div class="col-xs-12" style="height:30px;"></div>
<%= link_to 'Edit', edit_movie_path(@movie),class: "btn btn-secondary btn-sm" %> |
<%= link_to 'Back', movies_path, class: "btn btn-secondary btn-sm" %>
