<p id="notice"><%= notice %></p>

<p>
  <strong>Movie:</strong>
  <%= @movie.movie %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @movie.likes %>
</p>

<p>
  <strong>Dislikes:</strong>
  <%= @movie.dislikes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @movie.comments %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @movie.genre %>
</p>

<p>
  <strong>Age rating:</strong>
  <%= @movie.age_rating %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @movie.release_date %>
</p>
<div class="col-xs-12" style="height:30px;"></div>
<%= link_to 'Edit', edit_movie_path(@movie),class: "btn btn-secondary btn-sm" %> |
<%= link_to 'Back', movies_path, class: "btn btn-secondary btn-sm" %>
